<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @store.phone_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @store.website %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @store.tags %>
</p>

<p>
  <strong>Region:</strong>
  <%= @store.region_id %>
</p>

<% if user_signed_in?%>
  <%= link_to 'Edit', edit_store_path(@store) %> |
<%end %>

<%= link_to 'Back', stores_path %>

<h4>Back to Regions Page</h4>
<%= link_to 'Back to Regions',region_path(@store.region)%><br/>
<br/> 